* {
    margin:0px;
    padding: 5px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: gray;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
}

a {
    color: rgb(205, 69, 20);
}

a:hover {
    color: rgb(255, 159, 125);
}

h1 {
    font-family: 'Lora', serif;
    color: rgba(205, 69, 20, 0.6);
    font-size: 1.7rem;
    font-weight: 100;
    text-align: center;
}

h2 {
    background-color: rgb(235, 110, 106);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    height: 35px;
    padding-top: 10px;
    margin-bottom: 15px;
}

header, section, footer {
    display: flex;
}

header {
    flex-flow: column nowrap;
    background-image: url("./images/header.jpg");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    padding: 0px;
}

.head-sup {
    display: flex;
    align-items: center;
}

.logo, .xxss {
    flex: 1 1 auto;
}

.logo a img  {
    width: auto;
    height: 75px;
}

.nav {
    justify-content: center;
}

.nav a {
    color: gray;
    letter-spacing: 1px;
    padding: 0 30px;
}

.nav a:hover {
    color: rgb(205, 69, 20);
}

.xxss {
    display: flex;
    justify-content: flex-end;
}

.xxss a {
    color: gray;
    font-size: 18px;
    padding: 0 10px;
}

.xxss a:hover {
    color: rgb(205, 69, 20);
}

.headline {
    height: 100px;
    margin: 0 50px;
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.10);
}

section {
    gap: 10px 10px;
    padding: 0px;
}

.contents {
    background-color:rgb(200, 200, 200);
    display: flex;
    flex: 1 1 80%;
    flex-flow: row wrap;
    gap: 25px 20px;
    margin: 10px 0;
    padding: 10px;
}

.content {
    background-color: whitesmoke;
    flex: 1 1 40%;
    padding: 10px;
}

.content img {
    width: 100%;
    padding: 0px;
}

.date {
    padding-left: 10px;
    margin-top: -35px;
    color:gold;
    font-weight: bold;
}

.content p {
    margin-bottom: 15px;    
}

.content-end {
    flex: 1 1 100%;
    color: black;
    text-align: center;
}

aside {
    background-color:rgb(200, 200, 200);
    flex: 1 1 20%;
    margin: 10px 0;
    padding: 25px 10px;
    color: black;
    text-align: center;
}

.commercial {
    font-weight: bold;
}

footer {
    background-color: whitesmoke;
    flex-direction: column;
    justify-content: center;
    border-left: 10px solid rgb(200, 200, 200);;
    border-right: 10px solid rgb(200, 200, 200);;
}

address {
    text-align: center;
}

/* responsive lg */
@media screen and (min-width: 1200px) {
    .content p {
        column-count: 2;
    }
}

/* responsive md */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    section {
        flex-direction: column;
        row-gap: 0px;
    }
    .content p {
        column-count: 2;
    }
}

/* responsive sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
    section {
        flex-direction: column;
        row-gap: 0px;
    }
    .head-sup {
        flex-direction: column;
    }
    .nav a {
        padding: 20px;
    }
}

/* responsive xs */
@media screen and (min-width: 1px) and (max-width: 767px) {
    section {
        flex-direction: column;
        row-gap: 0px;
    }
    .head-sup {
        flex-direction: column;
    }
    .nav a {
        padding: 10px;
    }
    .nav a i{
        display: none;
    }
    .contents {
        flex-direction: column;
    }
}

