*{ /* en global */
    margin:10px;
    padding: 10px;
    box-sizing: border-box; /* ancho y alto total que incluye padding y border */
}
.container {
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
}

header, section, footer {
    background-color: black;
    display: flex;
}

header {
    flex-flow: column nowrap;
}

.head-sup {
    background-color: dimgray;
    height: 80px;
    display: flex;
    align-items: center;
}

.logo, .nav, .xxss {
    background-color: indianred;
    height: 10px;
    flex: 1 1 auto;
}

.nav {
    flex: 4 1 auto;
}

.headline {
    background-color: coral;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

h1 {
    background-color: gold;
    height: 10px;
}

.contents {
    background-color: darkslateblue;
    display: flex;
    flex: 2 1 auto;
    flex-flow: row wrap;
}

.content {
    height: 10px;
    background-color: cornflowerblue;
    flex: 1 1 40%;
}

.content-end {
    height: 10px;
    background-color: lightblue;
    flex: 1 1 100%;
}

aside {
    background-color: crimson;
    flex: 1 1 auto;
}

.commercial {
    height: 10px;
    background-color: burlywood;
}

footer {
    height: 80px;
    flex-direction: column;
    justify-content: center;
}

address {
    background-color: gold;
    height: 10px;
}

@media (min-width: 310px) and (max-width: 1024px){
    section {
        flex-direction: column;
        background-color: goldenrod;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .head-sup {
        flex-direction: column;
        align-items: stretch;
        height: auto;
    }

    .contents {
        flex-direction: column;
    }
}